<div class="jumbotron">
<h1 class="text-center">Liste des planetes pouvant attaquer et de leurs flottes</h1>
<%unless @suitable_spaceships_by_planet.empty?%>
    <%@suitable_spaceships_by_planet.each do |p, sp|%>
    <div class="card">
        <div class="card-header">
            <h4>La planete <%=p.name%></h4>
        </div>
        <div class="card-block">
            <%= form_tag("/planete/conquer", method: "post") do%>
            <%= hidden_field_tag 'attacking_planet_id', p.id%>
            <%= hidden_field_tag 'attacked_planet_id', @selected_planet.id%>
                <%sp.each do |s|%>
                <ul class="list-group checked-list-box">
                    <li class="list-group-item">
                        <input type="checkbox" name="selected_spaceships" value="<%= s.id%>"><%= s.name%><br>
                    </li>
                </ul>
                <%end%>
            <div class="card-footer">
            <button type="submit" class="btn btn-danger"> Attaquer ! </button>
            </div>
            <%end%>
        </div>
    </div>
    <%end%>
<%else%>
<p>Poil</p>
<%end%>
</div>
