<div class="jumbotron">
    <h1><%= @selected_planet.name %></h1>
  <p> position : <%= @selected_planet.position_x %>:<%= @selected_planet.position_y %>:<%= @selected_planet.position_z %></p>
  <p> range : <%= @range[1] %> parsec and <%= @range[0] %> units</p>
  <p> slots : <%= @selected_planet.buildings.count %>/<%= @selected_planet.nb_cases %></p>
  <ul>
    <% @selected_planet.buildings.each do |b| %>
      <li><%= b.name %> </li>
    <% end %>
  </ul>
    <% if @selected_planet.user == @actual_user  %>
      <% if @selected_planet.nb_cases-@selected_planet.buildings.count > 0 %>
        <% @buildings.each do |b| %>
              <p><%= b.name %>
                <%= button_to b.costMoney, {action: "buyBuilding", building: b.id, planet: @selected_planet.id, devise:"money"} %>
                <%= button_to b.costMetal, {action: "buyBuilding", building: b.id, planet: @selected_planet.id, devise:"metal"} %>
              </p>
        <% end %>
      <% else %>
        <p>Planète pleine</p>
      <% end %>

    <% elsif @selected_planet.user.nil? %>
      <p>This planet is not colonized... yet !</p>
    <% else %>
      <p>Owner: <%= @selected_planet.user.name %> </p>
    <% end %>
</div>
