<div class="jumbotron">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
            <a class="nav-link active" onclick="showBatiment();" id="batLink">Bâtiment</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" onclick="showDP();" id="DPLink">Défense passive</a>
            </li>
                    
            <li class="nav-item">
            <a class="nav-link" onclick="showDA();" id="DALink">Défense active</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" onclick="showShip();" id="ShipLink">Vaisseau</a>
            </li>
        </ul>
    </div>

    <div style="display : block;" id="batTech">
        <div class="card-header text-center">
            Technologie du bâtiment
        </div>
        <% Technology.where(typeTech: "bâtiment").each do |t|%>
            <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block text-center">
                    <h4 class="card-title"><%= t.name%></h4>
                    <p class="card-text"><%= t.description %></p>
                    <% unless @actual_user.technologies.include? t %>
                        <% if @actual_user.energy >= t.costEnergy %>
                            <button type="button" class="btn btn-primary" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costEnergy %>, 0)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costEnergy %> d'energie</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costEnergy - @actual_user.energy %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                        <% if @actual_user.money >= t.costMoney %>
                            <button type="button" class="btn btn-danger" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costMoney %>, 1)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costMoney %> monnaie galactique</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costMoney - @actual_user.money %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                    <% else %>
                        <h5 class="text-success">Technologie acquise !</h5>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div style="display : none;" id="daTech">
        <div class="card-header text-center">
            Technologie de défense active
        </div>
        <% Technology.where(typeTech: "défense active").each do |t|%>
            <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block text-center">
                    <h4 class="card-title"><%= t.name%></h4>
                    <p class="card-text"><%= t.description %></p>
                    <% unless @actual_user.technologies.include? t %>
                        <% if @actual_user.energy >= t.costEnergy %>
                            <button type="button" class="btn btn-primary" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costEnergy %>, 0)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costEnergy %> d'energie</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costEnergy - @actual_user.energy %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                        <% if @actual_user.money >= t.costMoney %>
                            <button type="button" class="btn btn-danger" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costMoney %>, 1)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costMoney %> monnaie galactique</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costMoney - @actual_user.money %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                    <% else %>
                        <h5 class="text-success">Technologie acquise !</h5>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div style="display : none;" id="dpTech">
        <div class="card-header text-center">
            Technologie de défense passive
        </div>
        <% Technology.where(typeTech: "défense passive").each do |t|%>
            <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block text-center">
                    <h4 class="card-title"><%= t.name%></h4>
                    <p class="card-text"><%= t.description %></p>
                    <% unless @actual_user.technologies.include? t %>
                        <% if @actual_user.energy >= t.costEnergy %>
                            <button type="button" class="btn btn-primary" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costEnergy %>, 0)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costEnergy %> d'energie</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costEnergy - @actual_user.energy %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                        <% if @actual_user.money >= t.costMoney %>
                            <button type="button" class="btn btn-danger" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costMoney %>, 1)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costMoney %> monnaie galactique</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costMoney - @actual_user.money %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                    <% else %>
                        <h5 class="text-success">Technologie acquise !</h5>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div style="display : none;" id="shipTech">
        <div class="card-header text-center">
            Technologie des vaisseaux
        </div>
        <% Technology.where(typeTech: "vaisseau").each do |t|%>
            <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block text-center">
                    <h4 class="card-title"><%= t.name%></h4>
                    <p class="card-text"><%= t.description %></p>
                    <% unless @actual_user.technologies.include? t %>
                        <% if @actual_user.energy >= t.costEnergy %>
                            <button type="button" class="btn btn-primary" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costEnergy %>, 0)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costEnergy %> d'energie</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costEnergy - @actual_user.energy %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                        <% if @actual_user.money >= t.costMoney %>
                            <button type="button" class="btn btn-danger" onclick="clickModal(<%= t.id %>, '<%= t.name %>', <%= t.costMoney %>, 1)" data-toggle="modal" data-target="#mymodal">Acheter avec <%= t.costMoney %> monnaie galactique</button>
                        <% else %>
                            <h5 class="text-danger">Il vous manque <%= t.costMoney - @actual_user.money %> énergie afin d'acquérir cette technologie</h5>
                        <%end%>
                    <% else %>
                        <h5 class="text-success">Technologie acquise !</h5>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <%= form_tag("/laboratory/buy", method: "post") do %>
        <%= hidden_field_tag 'tech_id' %>
        <%= hidden_field_tag 'buy_method' %>
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><span id="productTitle"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir acheter ce produit pour <span id="priceSpan"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Payer </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    <% end %>

</div>

<script>

    function hideAll(){
        $("#batLink").removeClass("active");
        $("#DALink").removeClass("active");
        $("#DPLink").removeClass("active");
        $("#ShipLink").removeClass("active");

        $("#batTech").css("display", "none");
        $("#dpTech").css("display", "none");
        $("#daTech").css("display", "none");
        $("#shipTech").css("display", "none");
    }

    function showBatiment(){
        hideAll();
        $("#batLink").addClass("active");
        $("#batTech").css("display", "block");
    }

    function showDA(){
        hideAll();
        $("#batLink").removeClass("active");
        $("#DALink").addClass("active");
        $("#daTech").css("display", "block");
    }

    function showDP(){
        hideAll();
        $("#batLink").removeClass("active");
        $("#DPLink").addClass("active");
        $("#dpTech").css("display", "block");
    }

    function showShip(){
        hideAll(); 
        $("#batLink").removeClass("active");
        $("#ShipLink").addClass("active");
        $("#shipTech").css("display", "block");
    }

    function clickModal(id, name, price, buyMethod){
        console.log(name);
        selectedID = id;
        selectedName = name;
        selectedCost = price;
        $("#productTitle").html(selectedName);
        $("#priceSpan").html(selectedCost);
        $("#tech_id").attr('value', id);
        $("#buy_method").attr('value', buyMethod);
    }


</script>

