<!DOCTYPE html>
<html>
  <head>
    <title>GalacticEmpire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse">
          <a class="navbar-brand" href="/">Galactic Empire</a>
            <% unless @actual_user == nil %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="<%= url_for(controller: 'planet', action: 'index') %>">Planetes</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="">Laboratory</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="">Shop</a>
              </li>
            </ul>
            <span class="navbar-text">
              <img src="<%= image_path('metal-bar.png') %>" width="16" height="16"/>
              Métal: <%= @actual_user.metal %>
              <img src="<%= image_path('divert.png') %>" width="16" height="16"/>
              Energie: <%= @actual_user.energy %>
              <img src="<%= image_path('coins.png') %>" width="16" height="16"/>
              Monnaie Galactique: <%=@actual_user.money %>&nbsp;&nbsp;
            </span>
            <% end %>
          <ul class="navbar-nav">
            <% unless @actual_user == nil %>
              <li class="nav-item dropdown navbar-right">
                <a class="navbar-text dropdown-toggle" href="/" id="user_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= @actual_user.name %></a>
                <div class="dropdown-menu" aria-labelledby="user_dropdown">
                  <a class="dropdown-item" href="<%= user_path(@actual_user) %>">Profile</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
            <% else %>
              <li class="nav-item" style="margin-right:10px;">
                <a href="<%= url_for(controller: 'users', action: 'new') %>" class="btn btn-outline-info">Signup</a>
              </li>
              <li class="nav-item">
                <a href="<%= url_for(controller: 'sessions', action: 'new') %>" class="btn btn-outline-success">Login</a>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
